@page "/ChangePassword"
@model Messenger.Models.ChangePasswordModel

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "Form" }))
{
	<p class="ChangePasswordParagraph"><span>New Password</span>@Html.PasswordFor(x => x.NewPassword);</p>
	<p class="ChangePasswordParagraph"><span>Confirm Password</span>@Html.PasswordFor(x => x.ConfirmPassword);</p>
	<p class="ChangePasswordParagraph"><span>Recovery Code</span>@Html.TextBoxFor(x => x.RecoveryCode);</p>
	<button type="button">Change Password</button>
}
  