
@model messager.models.Login
@using(Html.BeginForm("Login","Account", FormMethod.Post))
{
	@Html.ValidationSummary()
	<p>Podaj nazwe uzytkownika: @Html.TextBoxFor(x=> x.UserName);</p>
	<p>Podaj Haslo uzytkownika: @Html.PasswordFor(x=> x.Password);</p>
	<button type="submit">zaloguj</button>
}