<head>
	<link href="~/css/LoginAndRegister.css" rel="stylesheet" />
	<title>Log In</title>
</head>
@model Messenger.models.Login
<div id="LoginAndRedirect-Container">
	@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "Form" }))
	{
		<div id="loginconainer">
			@Html.ValidationSummary()
			<p class="login-paragraph"><span>Username</span> @Html.TextBoxFor(x => x.UserName, new { @class = "inputlogin" })</p>
			<p class="login-paragraph"><span>Password</span> @Html.PasswordFor(x => x.Password, new { @class = "inputlogin" })</p>
			<button id="Buttonlogin" type="submit">LOGIN</button>
		</div>
	}
	<div id="RedirectDiv">
		<h3>if you dont have account</h3>
		@Html.ActionLink("SIGN UP", "Register", "Account", null, new { @class = "Button-Redirect" })
	</div>

</div>
