@model IEnumerable<messager.models.UserModel>
@foreach (var user in Model)
{
	if (user.Id != ViewBag.UserId)
	{
		<form method="post">
			<input type="hidden" name="ReciverId" value="@user" />
			
			<p>@user.UserName</p>
			<a href="/chat/@user.Id">Napisz</a>
		</form>
	}
}