
.pickuser, .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.creatorMessages {
    background-color: rgb(51,187,255);
    padding: 10px;
    margin: 10px;
    align-self: flex-end;
    display: table;
    border-radius: 15px;
}

.reciverMessages {
    background-color: rgb(255,85,51);
    padding: 10px;
    margin: 10px;
    align-self: flex-start;
    display: table;
    border-radius: 15px;
}

#username{
    text-align:center;
}

#messageConatiner {
    width: 100%;
    height: 850px;
    overflow: auto;  
    display: flex;
    flex-direction: column;
    
}

#inputChat {
    width: 90%;
    padding: 0px;
    margin: 0px;
    border-radius: 15px;
    height: 30px;
}
#inputSearch, .inputlogin {
    width: 120%;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
}
.inputlogin {
    width: 40%;
    text-align:center;
   
}

#sendbutton {
    width: 10%;
    height: 30px;
    border-radius: 15px;
    float: right;
    background-color: rgb(51,187,255);
    border: none;
}
#loginconainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 5px;
    color: white;
}

.ButtonLayOut, #ButtonSearch,#Buttonlogin {
    background-color: rgb(51,187,255);
    padding: 10px;
    margin: 10px;
    align-self: center;
    display: table;
    border-radius: 15px;
    border: none;
   
}
#ButtonSearch {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#Buttonlogin {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: rgb(51,187,255);
    border-radius: 15px;
}