body{
    margin:0px;
}

.pickuser, .input, #LastedMessages, #FrirendOnline {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pickuser{
    float:left;
    width:60%;
    padding-top:50px;
    
}





#inputChat {
    width: 90%;
    padding: 0px;
    margin: 0px;
    border-radius: 15px;
    height: 30px;
}
#inputSearch, .inputlogin {
    width: 120%;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
}
.inputlogin {
    width: 48.5%;
    text-align:center;
   
}

#sendbutton {
    width: 10%;
    height: 30px;
    border-radius: 15px;
    float: right;
    background-color: rgb(51,187,255);
    border: none;
}
#loginconainer, #registerContainer, #Home-button-container, #LoginAndRedirect-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
#loginconainer, #registerContainer {
    width: 100%;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 5px;
    color: white;
}

.ButtonLayOut, #ButtonSearch {
    background-color: rgb(51,187,255);
    padding: 10px;
    margin: 10px;
    align-self: center;
    display: table;
    border-radius: 15px;
    border: none;
   
}
#ButtonSearch {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#Buttonlogin, #ButtonRegister {
    background-color: rgb(51,187,255);
    border-radius: 15px;
    padding: 10px;
    margin: 0px;
    border: none;
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ButtonRegister {
    margin: 20px;
    width: 70%;
}
#Buttonlogin {
    width: 70%;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: rgb(51,187,255);
    border-radius: 15px;
}
.photo {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#LastedMessages, #FrirendOnline {
    background-color: lightblue;
    width: 20%;
    height: 100vh;
    float: left;
    padding-top: 50px;
}

#FrirendOnline{
    float:right;
}
.creatorImg {
    float: right;
    height: 100%;
    padding-left:5px;
  
}
.reciverImg {
    float: left;
    height: 100%;
    padding-right: 5px;
}
.MessageContainerChildcreatorMessages {
    float: right;
}
.MessageContainerChildreciverMessages {
    float: left;
}
#messageConatiner {
    width: 99%;
    height: 87vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin:0 0.5%;
}
.creatorMessages {
    background-color: rgb(51,187,255);
    padding: 10px;
    float: left;

    display: table;
    border-radius: 15px;
}

.reciverMessages {
    background-color: rgb(255,85,51);
    padding: 10px;
    float:right;
    display: table;
    border-radius: 15px;
}
.creatorMessagesContainer, .reciverMessagesContainer {
    margin: 10px 0px;
}
#UserPhoto {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    float: left;
    margin: 0px 5px;
}
username-Chat {
    float: left;
    margin: 0px;
}
.ButtonLayOut{
    background-color: rgb(51,187,255);
    padding: 10px;
    margin:0px 1%;
    display: table;
    border-radius: 15px;
    border: none;
    float:left;
    
}
#ReciverInfo {
margin: 0.5% 0.5% 0 0.5%;
}
#ImgAndUsername {
    margin-right: 50%;
    float: right;
    display: flex;
    align-items: center;
}
#Home-button-container{
    float:left;
}
.UserList-Photo{
    float:left;
}
.UserList-Button, .Button-Redirect {
    background-color: rgb(51,187,255);
    padding: 10px;
    margin: 0px 1%;
    display: table;
    border-radius: 15px;
    border: none;
    text-align:center;
}
.UserList-User {
        margin: 5px;
    }
.Button-Redirect{
    width:12.5%;
    text-decoration:none;
    color:black;
    margin:0;
}
#RedirectDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:30px;
}
#customfilelabel {
    padding: 10px 20px;
    background-color: rgb(51,187,255);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}
#customfiles {
    display: none;
}
