@page "/chat/{ReciverIdForm}"
@layout EmptyLayout
@inject NavigationManager Navigation
@inject HttpClient Http
@inject AppDbContext _Context;
@inject IJSRuntime JSRuntime
@inject IUserService _UserService
@inject IMessageService _MessageService
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.SignalR.Client
@using System.Security.Claims;
@using System.Text;
@using System.Security.Policy
@using messager.Services.Interfaces;
@using messager.Services;
@using messager.models;
@implements IAsyncDisposable
<PageTitle>Index</PageTitle>
<link href="css/style.css" rel="stylesheet">




    <div id="Home-button-container">
        <button class="ButtonLayOut" @onclick="@(() => RedirectToPage("/"))">Strona Glowna</button>
   </div>
   
    @if (Reciver != null && user != null)
    {

        <img id="UserPhoto" src="@($"/DisplayImage/{user.ProfileImageId}")" />
        <h3 id="username">@Reciver.UserName</h3>
    }

       
<div id="messageConatiner">
         
        @if (MessageList != null)
        {
            @foreach (var message in MessageList)
            {

                @if (message.CreatorId == user.Id)
                {

                AddMessageToView(AddBreakLines(message.Content), "creatorMessages", user.ProfileImageId.ToString(),"creatorImg");
                    
                }
                else
                {

                AddMessageToView(AddBreakLines(message.Content), "reciverMessages", Reciver.ProfileImageId.ToString(), "reciverImg");
                }
                MessageListToRemove.Add(message);
            }

        }
        @if (MessageListToRemove != null)
        {
            @foreach (var message in MessageListToRemove)
            {
                MessageList.Remove(message);
            }
        }
    </div>
    <input id="inputChat"type="text" name="Message" @bind="Message" />
    <button id="sendbutton" @onclick="() => SendMessage(Message,Reciver.Id)">napisz</button>


@code {
    public string imageSrc = "";
    public string Message { get; set; } = "";
    public string _RenderMessage { get; set; } = "";
    private readonly UserManager<UserModel> _userManager;
    [Parameter] public string ReciverIdForm { get; set; }
    private HubConnection? _hubConnection;
    private UserModel user;
    private UserModel Reciver;
    private List<MessageModel> MessageList;
    private List<MessageModel> MessageListToRemove = new List<MessageModel>();


    protected override async Task OnInitializedAsync()
    {
        Reciver = await _UserService.GetUserById(ReciverIdForm);
        user = await GetLoggedUser();
        MessageList = await _MessageService.GetMessages(user.Id, Reciver.Id);

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/testhub"))
            .Build();

        _hubConnection.On<string>("ReciveNotification", (message) =>
        {

            AddMessageToView(AddBreakLines(message), "reciverMessages", Reciver.ProfileImageId.ToString(), "reciverImg");
            JSRuntime.InvokeVoidAsync("scrollToBottom");

        });

        await _hubConnection.StartAsync();
        UserModel _User = await _UserService.GetLoggedUser(_Context);
        await _hubConnection.InvokeAsync("JoinGroup", _User.Id);
        if(MessageList.Count == 0)
        {
            await JSRuntime.InvokeVoidAsync("scrollToBottom");
        }

    }

    private async Task AddMessageToView(string MessageContent, string MessClassName, string ProfileId,string ImgClassName )
    {
        await JSRuntime.InvokeVoidAsync("AddMessageToView", MessageContent, MessClassName, ProfileId, ImgClassName);
    }
    private async Task SendMessage(string MessageContent, string ReciverId)
    {

        if (!string.IsNullOrWhiteSpace(MessageContent) && MessageContent.Length < 512)
        {
            var user = await GetLoggedUser();
            _MessageService.AddMessage(MessageContent, ReciverId, user.Id);
            Message = "";
            await _hubConnection.InvokeAsync("SendMessage", MessageContent, Reciver.Id);
            AddMessageToView(AddBreakLines(MessageContent), "creatorMessages", user.ProfileImageId.ToString(), "creatorImg");
            await JSRuntime.InvokeVoidAsync("scrollToBottom");

        }


    }
    public string AddBreakLines(string Message)
    {
        var MessageWithBreakLines = "";
        StringBuilder outputText = new StringBuilder();
        int licznik = 0;

        foreach (char c in Message)
        {
            if (licznik >= 85)
            {
                outputText.Append("</br>");
                licznik = 0;
            }
            outputText.Append(c);
            licznik++;
        }
        MessageWithBreakLines = outputText.ToString();
        return MessageWithBreakLines;
    }
    public async Task<UserModel> GetLoggedUser()
    {
        UserModel _User = await _UserService.GetLoggedUser(_Context);
        if(_User != null)
        {
            return _User;
        }
        else
        {
            return null;
        }
    }
    public async ValueTask DisposeAsync()
    {
        if(_hubConnection != null)
        {
        await _hubConnection.DisposeAsync();
        }
    }
    private void RedirectToPage(string url)
    {
        NavigationManager.NavigateTo(url, forceLoad: true);
    }
  
}
