@page "/chat/{ReciverIdForm}"
@inject NavigationManager Navigation
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject IUserService _UserService
@inject IMessageService _MessageService
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.SignalR.Client
@using System.Security.Claims;
@using System.Text;
@using messager.Services.Interfaces;
@using messager.Services;
@using messager.models;
@implements IAsyncDisposable
<PageTitle>Index</PageTitle>
<style>
    .creatorMessages{       
        background-color: rgb(51,187,255);
        padding:10px;
        margin: 10px;
        align-self: flex-end;
        display: table;
        border-radius:15px;

    }

    .reciverMessages{
        background-color: rgb(255,85,51);
        padding: 10px;
        margin:10px;
        align-self: flex-start;
        display: table;
        border-radius: 15px;
    }

    

    #messageConatiner {
        width: 100%; 
        height: 700px; 
        overflow: auto; 
        border: 1px solid #ccc; 
        display: flex;
        flex-direction: column;
    }
    input
    {
        width:90%;
        padding:0px;
        margin:0px;
        border-radius: 15px;
    }
   #sendbutton{
        width:10%;
        border-radius: 15px;
        float:right;
        background-color:rgb(51,187,255);
        border:none;
    }
</style>
<html>
<body>
    @if (Revicer != null)
    {
        <p>@Revicer.UserName</p>
    }

       
<div id="messageConatiner">
         
        @if (MessageList != null)
        {
            @foreach (var message in MessageList)
            {

                @if (message.CreatorId == userId)
                {
                    AddMessageToView(AddBreakLines(message.Content), "creatorMessages");
                    
                }
                else
                {
                    AddMessageToView(AddBreakLines(message.Content), "reciverMessages");
                }
                MessageListToRemove.Add(message);
            }

        }
        @if (MessageListToRemove != null)
        {
            @foreach (var message in MessageListToRemove)
            {
                MessageList.Remove(message);
            }
        }
    </div>
    <input type="text" name="Message" @bind="Message" />
    <button id="sendbutton" @onclick="() => SendMessage(Message,Revicer.Id)">napisz</button>
</body>

</html>

@code {
    public string Message { get; set; } = "";
    public string _RenderMessage { get; set; } = "";
    private readonly UserManager<UserModel> _userManager;
    [Parameter] public string ReciverIdForm { get; set; }
    private HubConnection? _hubConnection;
    private string userId;
    private UserModel Revicer;
    private List<MessageModel> MessageList;
    private List<MessageModel> MessageListToRemove = new List<MessageModel>();

    protected override async Task OnInitializedAsync()
    {
        Revicer = await _UserService.GetUserById(ReciverIdForm);
        userId = await GetLoggedUser();
        MessageList = await _MessageService.GetMessages(userId, Revicer.Id);

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/testhub"))
            .Build();

        
        _hubConnection.On<string>("ReciveNotification", (message) =>
        {

            AddMessageToView(AddBreakLines(message), "reciverMessages");
            JSRuntime.InvokeVoidAsync("scrollToBottom");

        });

        await _hubConnection.StartAsync();
        UserModel _User = await _UserService.GetLoggedUser();
        await _hubConnection.InvokeAsync("JoinGroup", _User.Id);
        if(MessageList.Count == 0)
        {
            await JSRuntime.InvokeVoidAsync("scrollToBottom");
        }

    }

    private async Task AddMessageToView(string MessageContent,string ElementId)
    {
        await JSRuntime.InvokeVoidAsync("AddMessageToView", MessageContent, ElementId);
    }
    private async Task SendMessage(string MessageContent, string ReciverId)
    {
        if (!string.IsNullOrWhiteSpace(MessageContent))
        {
            var userId = await GetLoggedUser();
            _MessageService.AddMessage(MessageContent, ReciverId, userId);
            Message = "";
            await _hubConnection.InvokeAsync("SendMessage", MessageContent, Revicer.Id);
            AddMessageToView(AddBreakLines(MessageContent), "creatorMessages");
            await JSRuntime.InvokeVoidAsync("scrollToBottom");
        }


    }
    public string AddBreakLines(string Message)
    {
        var MessageWithBreakLines = "";
        StringBuilder outputText = new StringBuilder();
        int licznik = 0;

        foreach (char c in Message)
        {
            if (licznik >= 85)
            {
                outputText.Append("</br>");
                licznik = 0;
            }
            outputText.Append(c);
            licznik++;
        }
        MessageWithBreakLines = outputText.ToString();
        return MessageWithBreakLines;
    }
    public async Task<string> GetLoggedUser()
    {
        UserModel _User = await _UserService.GetLoggedUser();
        return _User.Id;
    }
    public async ValueTask DisposeAsync()
    {
        if(_hubConnection != null)
        {
        await _hubConnection.DisposeAsync();
        }
    }
}
